---
import { getCollection } from 'astro:content';
import Era from './Era.astro';
import Tags from './Tags.astro';

const posts = (await getCollection('stories')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div class="story-list grid">
  {
    posts.map((post) => (
      <div class="card">
        <a href={`/stories/${post.slug}/`} class="story">
          <h2 class="title">{post.data.title}</h2>
          <div class="info">
            <p class="description">{post.data.description}</p>
            <div class="meta">
              <Era era={post.data.era} />
              <Tags tags={post.data.tags} />
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>

<style>
  .grid {
    --min: 20ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }
  .story-list {
    padding-block: 2em;
  }
  .card {
    background-color: var(--black);
    border-radius: 0 3rem;
    padding: 1em;
    box-shadow: 0.15rem 0.15rem var(--gray);
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  .card:hover {
    box-shadow: 0.3rem 0.3rem var(--accent);
  }
  .story {
    text-decoration: none;
  }
  .title {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  }
  .description {
    color: var(--light);
  }
  .meta {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: var(--gray);
    border-block-start: dotted var(--dark);
    padding-block-start: 1rem;
  }
</style>
