---
import { Icon } from 'astro-icon/components';
import Top from '../Top.astro';
interface Responsibilities {
  general: string[];
  math: string[];
  assessment: string[];
  web: string[];
}

interface Role {
  title: string;
  department: string;
  date_range: string;
  responsibilities: Responsibilities[];
}

interface Company {
  company: string;
  location: string;
  type: string;
  roles: Role[];
}

interface ExperienceData {
  experience: Company[];
}

import data from '../../data/resume.json';
const { experience }: ExperienceData = data;
---

<section class="experience" id="experience">
  <!-- <Persona /> -->
  <h2>I. Experience</h2>
  <div class="experience-list section-borders">
    {
      experience.map((company) => (
        <div class="experience-entry">
          <div class="company">
            <h3>{company.company}</h3>
            <div class="company-details">
              <p>{company.location}</p>
              <p>{company.type}</p>
            </div>
          </div>
          <div class="roles">
            {company.roles.map((role) => (
              <div class="role">
                <div class="role-header">
                  <h4>{role.title}</h4>
                  <div class="role-details">
                    <p>{role.department}</p>
                    <p>{role.date_range}</p>
                  </div>
                </div>
                <ul class="responsibilities subsection-borders">
                  {role.responsibilities.map((responsibility) =>
                    responsibility.math.map((item) => (
                      <li class="math">
                        <Icon name="math-operations" class="icon" />
                        {item}
                      </li>
                    ))
                  )}
                  {role.responsibilities.map((responsibility) =>
                    responsibility.assessment.map((item) => (
                      <li class="assessment">
                        <Icon name="exam" class="icon" />
                        {item}
                      </li>
                    ))
                  )}
                  {role.responsibilities.map((responsibility) =>
                    responsibility.web.map((item) => (
                      <li class="web">
                        <Icon name="code" class="icon" />
                        {item}
                      </li>
                    ))
                  )}
                  {role.responsibilities.map((responsibility) =>
                    responsibility.general.map((item) => (
                      <li class="general">{item}</li>
                    ))
                  )}
                </ul>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <Top />
</section>

<style>
  .experience-entry {
    padding: 0.5em;
  }
  :is(.company, .role-header) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0 1em;
    padding-block: 0.5em;
  }
  :is(.company-details, .role-details) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    font-style: italic;
    font-size: smaller;

    p {
      padding: 0;
    }
  }
  .role {
    padding-block: 0.5em;
  }
</style>
