---
import { type CollectionEntry, getCollection } from 'astro:content';
import StoriesLayout from '../../layouts/StoriesLayout.astro';

interface Props {
  entry: CollectionEntry<'stories'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('stories');
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<StoriesLayout
  title={entry.data.title}
  pubDate={entry.data.pubDate}
  description={entry.data.description}
  era={entry.data.era}
  tags={entry.data.tags}
>
  <div class="story">
    <Content />
  </div>
</StoriesLayout>
