---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Props {
	entry: CollectionEntry<'stories'>
}

export async function getStaticPaths() {
	const posts = await getCollection('stories');
	return posts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout title={entry.data.title}>
  <div class="content">
	<div class="head">
		<h1 class="title">{entry.data.title}</h1>
		<p class="date">{entry.data.pubDate}</p>
		<p class="description">{entry.data.description}</p>
		<p class="era">{entry.data.era}</p>
		<p class="tags">{entry.data.tags}</p>
	</div>
    <Content />
  </div>
</BaseLayout>
