---
import BaseLayout from './BaseLayout.astro';
import PersonaHeader from '../components/personas/PersonaHeader.astro';
import PersonaFooter from '../components/personas/PersonaFooter.astro';

interface Props {
  title: string;
  pubDate: Date;
  editDate: Date;
  description: string;
}

const { title, pubDate, editDate, description } = Astro.props;
---

<BaseLayout title={title}>
  <PersonaHeader
    title={title}
    pubDate={pubDate}
    editDate={editDate}
    description={description}
  />

  <div class="content">
    <slot />
  </div>

  <PersonaFooter />
</BaseLayout>
