---
import BaseLayout from './BaseLayout.astro';
import '../styles/stories.css';
import StoryHeader from '../components/stories/StoryHeader.astro';
import StoryFooter from '../components/stories/StoryFooter.astro';

interface Props {
  title: string;
  pubDate: Date;
  description: string;
  era: string;
  tags: string[];
}

const { title, pubDate, description, era, tags } = Astro.props;
---

<BaseLayout title={title}>
  <StoryHeader
    title={title}
    pubDate={pubDate}
    description={description}
    era={era}
    tags={tags}
  />

  <div class="content">
    <slot />
  </div>

  <StoryFooter />
</BaseLayout>
